* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, rgb(56, 67, 73), rgb(47, 80, 99));
}

html, body {
  height: 100%;
  margin: 0;
}

.search-box {
  text-align: center;
  height: calc(100vh - 80px);
  margin: 0;
}

#uv-address {
  text-align: center;
  width: 35vw;
  height: 60px;
  font-size: 24px;
  border: none;
  background-color: rgb(29, 30, 34);
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: border-radius 0.5s;
}

#uv-address:focus {
  border-radius: 4px;
}

.title {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  margin: 0;
}

.subtitle {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
}

@keyframes show-proxy-div {
  from {
    bottom: -100vh;
    top: 100vh;
  }
  to {
    bottom: 0;
    top: 0;
  }
}

@keyframes hide-proxy-div {
  from {
    bottom: 0;
    top: 0;
    display: block;
  }
  to {
    bottom: -100vh;
    top: 100vh;
    display: block;
  }
}

#proxy-div {
  transition: background-color 0.5s;
}

.hide-proxy-div {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  animation-name: hide-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.show-proxy-div {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  animation-name: show-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.tab {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  border: none;
  background-color: inherit;
  display: none;
}

#proxy-nav-bar {
  height: 45px;
  background-color: rgb(49, 50, 64);
  color: white;
}

.tabBarTab {
  background-color: rgb(49, 50, 64);
  margin-top: 45px;
  margin-left: 5px;
  height: 45px;
  border-radius: 8px;
  float: left; 
  padding: 8px;
  transition-property: margin-top, background-color;
  transition-duration: 0.25s;
}

#newTab {
  background-color: rgb(49, 50, 64);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  border-radius: 8px;
  float: left; 
  padding: 0px;
  cursor: pointer;
}

#tabBarTabs {
  margin: 0;
  padding: 0;
}