* {
    box-sizing: border-box;
}

body {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

#uv-frame {
    height: calc(100vh - 40px);
    width: 100vw;
    border: none;
}

#proxy-nav-bar {
    height: 40px;
    background-color: rgb(29, 30, 34);
    color: white;
}

.proxy-nav-bar-item {
    margin: 40;
    padding: 4;
}

#nav-bar-address {
    width: 35vw;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    color: white;
    background-color: rgb(29, 30, 34);
    transition: background-color 0.3s;
}

#nav-bar-address:focus {
    background-color: rgb(55, 58, 70);
}

#nav-bar-form {
    height: 40px;
    margin: 0;
    padding: 0;
}